			<div class="showcase">
				<div class="thumbnail">
					<img src="images/b2.jpg" class="thumbnail--awesome">
					<div class="thumbnail__overlay">
					</div>
				</div>
				<div class="desc">
				
					<h4>Bodas</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
					</p>
				</div>
			</div>
			
			<div class="showcase showcase--inverted">
				<div class="desc">
					
					<h4>15 años</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
					</p>
				</div>
				<div class="thumbnail">ç
						<img src="images/b1.jpg" class="thumbnail--awesome2">
				</div>
			</div>



			<div class="showcase">
				<div class="thumbnail">
					<img src="images/b2.jpg" class="thumbnail--awesome">
					<div class="thumbnail__overlay">
					</div>
				</div>
				<div class="desc">
				
					<h4>Bautizo </h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
					</p>
				</div>
			</div>
			
			<div class="showcase showcase--inverted">
				<div class="desc">
					
					<h4>Baby Shower</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
					</p>
				</div>
				<div class="thumbnail">ç
						<img src="images/b1.jpg" class="thumbnail--awesome2">
				</div>
			</div>

						<div class="showcase">
				<div class="thumbnail">
					<img src="images/b2.jpg" class="thumbnail--awesome">
					<div class="thumbnail__overlay">
					</div>
				</div>
				<div class="desc">
				
					<h4>Aniversarios  </h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
					</p>
				</div>
			</div>
			
			<div class="showcase showcase--inverted">
				<div class="desc">
					
					<h4>Primeras Comuniones</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
					</p>
				</div>
				<div class="thumbnail">ç
						<img src="images/b1.jpg" class="thumbnail--awesome2">
				</div>
			</div>

						<div class="showcase">
				<div class="thumbnail">
					<img src="images/b2.jpg" class="thumbnail--awesome">
					<div class="thumbnail__overlay">
					</div>
				</div>
				<div class="desc">
				
					<h4>Confirmaciones </h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
					</p>
				</div>
			</div>
			
			<div class="showcase showcase--inverted">
				<div class="desc">
					
					<h4>Graduaciones</h4>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut l
					</p>
				</div>
				<div class="thumbnail">ç
						<img src="images/b1.jpg" class="thumbnail--awesome2">
				</div>
			</div>